.search-container {
    width: 70%; /* Set the width of the input */
    padding: 10px; /* Add padding to the input */
    font-size: 16px; /* Increase font size */
    border-radius: 8px; /* Add border radius for rounded corners */
    border: 2px solid #1789ab; /* Add border for visibility */
    box-sizing: border-box; /* Include pa   dding and border in width calculation */
    margin: 0 auto; /* Center the input horizontally */
    display: block; /* Make the input a block element */
  }
  
  .search-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 30px;
    width: 100%; /* Adjust width as needed */
  }
  
  .search-button {
    padding: 15px 30px;
    background-color: #944E63; /* Your desired background color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #76304F; /* Your desired hover background color */
  }
  

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .rating {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rating li {
    display: inline;
    margin-right: 5px;
  }
  
  .checked {
    color: gold;
  }
  
  